examples/send-buttons-example.json
[
    {
        "id": "282dfc0.fee7904",
        "type": "comment",
        "z": "58d0e056ac9b256d",
        "name": "Buttons",
        "info": "",
        "x": 190,
        "y": 300,
        "wires": []
    },
    {
        "id": "8b0ec2c0.88f7c",
        "type": "inject",
        "z": "58d0e056ac9b256d",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "a80c681f.e941d"
            ]
        ]
    },
    {
        "id": "a80c681f.e941d",
        "type": "function",
        "z": "58d0e056ac9b256d",
        "name": "SetMessage",
        "func": "const buttons = [\n  {'buttonId': 'id1', 'buttonText': {'displayText': 'Button 1'}, 'type': 1},\n  {'buttonId': 'id2', 'buttonText': {'displayText': 'Button 2'}, 'type': 1},\n  {'buttonId': 'id3', 'buttonText': {'displayText': 'Button 3'}, 'type': 1}\n]\n\nconst buttonMessage = {\n    'text': \"Hi it's button message\",\n    'footer': 'Hello World',\n    'buttons': buttons,\n    'headerType': 1\n}\n\n\nmsg.payload = buttonMessage;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "c1a2645eccea04a2"
            ]
        ]
    },
    {
        "id": "c1a2645eccea04a2",
        "type": "whin_send",
        "z": "58d0e056ac9b256d",
        "name": "",
        "auth": "5174ca9081d74ef6",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "e8d8ea3f64f747a6"
            ]
        ]
    },
    {
        "id": "e8d8ea3f64f747a6",
        "type": "debug",
        "z": "58d0e056ac9b256d",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "5174ca9081d74ef6",
        "type": "whin_config",
        "name": "whin",
        "apikey": "your_key_goes_here"
    }
]
