examples/send-a-list-example.json
[
    {
        "id": "9f60d55f.a054d",
        "type": "comment",
        "z": "58d0e056ac9b256d",
        "name": "List",
        "info": "",
        "x": 190,
        "y": 200,
        "wires": []
    },
    {
        "id": "b773a4dc.c1b88",
        "type": "inject",
        "z": "58d0e056ac9b256d",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "893dbacb.e78468"
            ]
        ]
    },
    {
        "id": "893dbacb.e78468",
        "type": "function",
        "z": "58d0e056ac9b256d",
        "name": "SetMessage",
        "func": "const sections = [\n    {\n\ttitle: \"Section 1\",\n\trows: [\n\t    {title: \"Option 1\", rowId: \"option1\"},\n\t    {title: \"Option 2\", rowId: \"option2\", description: \"This is a description\"}\n\t]\n    },\n   {\n\ttitle: \"Section 2\",\n\trows: [\n\t    {title: \"Option 3\", rowId: \"option3\"},\n\t    {title: \"Option 4\", rowId: \"option4\", description: \"This is a description V2\"}\n\t]\n    },\n]\n\nconst listMessage = {\n  'text': \"This is a list\",\n  'footer': \"nice footer, link: https://inutil.info\",\n  'title': \"Amazing boldfaced list title\",\n  'buttonText': \"Required, text on the button to view the list\",\n  sections\n}\n\n\nmsg.payload = listMessage;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "c1a2645eccea04a2"
            ]
        ]
    },
    {
        "id": "c1a2645eccea04a2",
        "type": "whin_send",
        "z": "58d0e056ac9b256d",
        "name": "",
        "auth": "5174ca9081d74ef6",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "e8d8ea3f64f747a6"
            ]
        ]
    },
    {
        "id": "e8d8ea3f64f747a6",
        "type": "debug",
        "z": "58d0e056ac9b256d",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "5174ca9081d74ef6",
        "type": "whin_config",
        "name": "whin",
        "apikey": "your_apikey_goes_here"
    }
]
